.label
  font-family: Poppins, sans-serif
  font-style: normal
  font-weight: 500
  font-size: 15px
  line-height: normal
  letter-spacing: 0.01em
  color: #323C47

.removeButton
  border: none
  height: 12px
  width: 12px


.labelHours
  border: 2px
  padding: 2px
  margin: 2px
  font-family: Poppins, sans-serif
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: normal
  letter-spacing: 0.01em
  color: #323C47

.saveButton
  position: absolute
  left: 375px
  top: 20px

mat-form-field
  font-family: Poppins, sans-serif
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: normal
  letter-spacing: 0.01em
  color: #323C47
  width: 152px

.inputForm mat-form-field
  width: 31px
  text-align: right
  height: 10px

.inputForm
  position: relative
  top: 6.5px

.addInputForm
  width: 31px
  text-align: right

.addRowData td mat-form-field
  padding-top: 9px



