<div class="progress">
  <div class="progress__section progress-section__first">
    <input placeholder='{{projectName}}' class="progress__input progress__platform_input">
    <div class="circle"></div>
    <p>Code: #</p>
    <input class="progress__input progress__code_input">
    <button class="progress-section__button"><a href="#">IN PROGRESS</a></button>
    <div class="progress-section__first_buttons">
      <button class="progress-section__first_buttons_button"><a href="">Pause<i class="material-icons material-icons__pause">pause</i></a></button>
      <button class="progress-section__first_buttons_button"><a href="">Archive</a></button>
      <button class="progress-section__first_buttons_button"><a href="">Save</a></button>
    </div>
  </div>
  <div class="progress__section progress-section__second">
    <p>Project type:</p>
    <mat-form-field>
        <mat-label></mat-label>
        <mat-select [(value)]="selected">
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="progress-bar">
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
  </div>
  <div class="progress__section">
    <div class="progress__section_date">
      <p>Start date:</p>
      <input placeholder="23 Jan, 2018" class="progress__input_type_date">
      <i class="material-icons">
        today
      </i>
    </div>
    <div class="progress__section_date">
      <p>End date:</p>
      <input placeholder="23 Jan, 2020" class="progress__input_type_date">
      <i class="material-icons progress__section_date_start_icon">
        today
      </i>
      </div>
  </div>
</div>



