<div class="integrations">
  <div class="logo">
    <p class="AtlassianJira"><p>
  </div>

  <div class="logo">
    <p class="Slack"></p>
  </div>

  <div class="logo">
    <p class="GitHub"></p>
  </div>

  <div class="logo">
    <p class="Trello"></p>
  </div>

  <div class="logo">
    <p class="IDE"></p>
  </div>

  <div class="logo">
    <p class="Git"></p>
  </div>

  <div class="logo">
    <p class="Telegram"></p>
  </div>

  <div class="logo">
    <p class="Whatsapp"></p>
  </div>
</div>


