<div class="integrations">

  <div class="logo">
      <p class="AtlassianJira"><p>
      <p>Atlassian Jira</p>
  </div>

  <div class="logo">
    <p class="Slack"></p>
    <p>Slack</p>
  </div>

  <div class="logo">
    <p class="GitHub"></p>
    <p>GitHub</p>
  </div>

  <div class="logo">
    <p class="Trello"></p>
    <p>Trello</p>
  </div>

  <div class="logo">
    <p class="IDE"></p>
    <p>IDE</p>
  </div>

  <div class="logo">
    <p class="Git"></p>
    <p>Git</p>
  </div>

  <div class="logo">
    <p class="Telegram"></p>
    <p>Telegram</p>
  </div>

  <div class="logo">
    <p class="Whatsapp"></p>
    <p>Whatsapp</p>
  </div>
</div>


