.logo
  margin-right: 10px

  p
    margin: 0 5px


div
  display: flex

.AtlassianJira
  // background: url("AtlassianJira.svg")
  width: 30px
  height: 30px
.Slack
  // background: url("Slack.svg")
  width: 30px
  height: 30px
.GitHub
  // background: url("GitHub.svg")
  width: 30px
  height: 30px
.Trello
  // background: url("Trello.svg")
  width: 30px
  height: 30px
.Asana
  // background: url("Asana.svg")
  width: 30px
  height: 30px
.IDE
  // background: url("IDE.svg")
  width: 30px
  height: 30px
.Git
  // background: url("Git.svg")
  width: 30px
  height: 30px
.Telegram
  // background: url("Telegram.svg")
  width: 30px
  height: 30px
.Whatsapp
  // background: url("Whatsapp.svg")
  width: 30px
  height: 30px









