.inline
  margin-top: -20px
  display: flex
.width_bar_chart, .export
  width: 550px
.table
  width: 470px
.person_information
  width: 1025px
.export
  width: 666px
.donut_chart_and_buttons
  width: 305px
  margin-left: auto
.for_approval
  width: 1025px
