<div class="notification">
  <h3>Notification Preferences: </h3>
  <button class="notification__button">Save</button>
</div>
<div>
  <mat-checkbox class="notification"> Timelogs are not filled for more then 24 hours
  </mat-checkbox>
  <mat-select class="notification__select">
    <mat-option value="option1">System</mat-option>
  </mat-select>
</div>
<div>
    <mat-checkbox class="notification"> 1 week before deadline
    </mat-checkbox>
    <mat-select class="notification__select">
      <mat-option value="option1">System</mat-option>
    </mat-select>
</div>
<div>
    <mat-checkbox class="notification"> Status of a project you’re assigned to has been changed
    </mat-checkbox>
    <mat-select class="notification__select">
      <mat-option value="option1">System</mat-option>
  </mat-select>
</div>
<div>
    <mat-checkbox>Status of submitted timesheet has been changed
    </mat-checkbox>
    <mat-select class="notification__select">
      <mat-option value="option1">System</mat-option>
  </mat-select>
</div>
<div>
    <mat-checkbox> Your workload has been changed
    </mat-checkbox>
    <mat-select class="notification__select">
      <mat-option value="option1">System</mat-option>
  </mat-select>
</div>
<div>
    <mat-checkbox> Your role has been changed
    </mat-checkbox>
    <mat-select class="notification__select">
      <mat-option value="option1">System</mat-option>
  </mat-select>
</div>
<div>
    <mat-checkbox> User, invited by you, has joined your company
    </mat-checkbox>
    <mat-select class="notification__select">
      <mat-option value="option1">System</mat-option>
  </mat-select>
</div>
