<div class="company">
  <div class="input">
    <input type="text">
    <button>Save</button>
  </div>
  <div class="params">
    <div class="box">
      <p>Company activities: </p>
      <mat-checkbox>Vacation</mat-checkbox>
      <mat-checkbox>Sick Leave</mat-checkbox>
      <mat-checkbox>Business Trip</mat-checkbox>
    </div>
    <div class="box">
      <p>Default Projects: </p>
      <mat-select >
        <mat-option value="option1">1 week</mat-option>
      </mat-select>
      <mat-select >
        <mat-option value="option1">1 week</mat-option>
      </mat-select>
    </div>
    <div class="box">
      <p>Start week from: </p>
      <mat-radio-button>Sunday</mat-radio-button>
      <mat-radio-button>Monday</mat-radio-button>
    </div>
    <div class="box">
      <p>Default Workload: </p>
    </div>
  </div>
</div>
<div class="approval_period">
  <div class="input">
    <h3>Approval Period: </h3>
  </div>

  <div class="params">
    <div class="approval" >
      <p>Approval Period: </p>
      <mat-select>
        <mat-option (click)="t()" value="option1">1 week</mat-option>
        <mat-option (click)="t()" value="option2">2 week</mat-option>
        <mat-option (click)="t()" value="option3">1 month</mat-option>
        <mat-option (click)="f()" value="option4">I don’t need approvals</mat-option>
      </mat-select>
      <mat-slide-toggle [ngClass]="{appr: flag}">Submit Time Logs automatically in the end of period</mat-slide-toggle>
    </div>
    <div class="approval" [ngClass]="{appr: flag}">
      <p>Notify about difference between expected and actual time: </p>
      <mat-checkbox>Sick Leave</mat-checkbox>
      <mat-checkbox>Business Trip</mat-checkbox>
    </div>

    <div class="approval" [ngClass]="{appr: flag}">
      <mat-slide-toggle> Ability to forget timesheets</mat-slide-toggle>
    </div>

</div>
</div>
<div  class="comment">
  <div class="comments">
    <h3>Comments: </h3>
<div class="approval">
  <mat-slide-toggle>Comments to each task are required</mat-slide-toggle>
  <p>Custom comments validation: </p>
  <input class="input_comments" type="text">
</div>

  </div>
  <div class="integrations">
    <h3>Integrations: </h3>

    <app-integrations></app-integrations>
  </div>
</div>
