<app-block>
  <div class="employees-header">
    <div class="buttons">
      <button>Active</button>
      <button>Deactivated</button>
      <button>Pending</button>
    </div>
    <div class="invite">
      <span>Invite an employee:</span>
      <input type="text" name="" id="" placeholder="alex@timesheet.com">
      <select>
        <option value="">Chose Role</option>
      </select>
      <button routerLinkActive="active" routerLink='/employees/add_employee'>Invite</button>
    </div>
  </div>
  <app-container class="table">
    <app-table></app-table>
  </app-container>
</app-block>
